.CartAll {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 1200px !important;

  .cartTxt {
    margin: 80px 0;
    font-size: 40px;
  }

  .colWrap {
    position: relative;
  }

  .itemAllDeleteBtn {
    position: absolute;
    top: -25px;
    right: -25px;
    display: block;
    width: 100px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .text-align-center {
    text-align: center;
  }

  .empty-bag {
    background-color: white;
    padding: 20px;
    font-size: 24px;
  }

  .cart-bag {
    .cartListBox {
      margin: 20px 0;
      padding-bottom: 20px;
      border-bottom: 1px solid #e4e4e4;

      img {
        width: 70px;
      }

      .itemDeleteBtn {
        position: relative;
        right: -10px;
        display: block;
        cursor: pointer;
        width: 20px;
        height: 20px;
      }

      .cWrap {
        width: 90%;

        .c_txt_box {
          width: 100%;
          padding-left: 20px;

          .quan_box {
            margin-top: -10px;
            padding: 0 20px;
          }

          .c_price {
            text-align: end;
          }
        }
      }
    }
  }
}
