
@font-face {
    font-family: "JeonjuCraft";
    src: url("./fonts/JeonjuCraft_Go_Regular.ttf");
}

@font-face {
    font-family: "NanumSquareNeo";
    src: url("./fonts/NanumSquareNeo-bRg.ttf");
}

#root {
    font-family: "JeonjuCraft";
    // font-family: "NanumSquareNeo";
}